@keyframes moveBackground {
  from {
    background-position: 0 0;
}
to {
    background-position: 0 1000px;
}
}
.moving-image {
  background: url('./assets/images/background.jpg') repeat-y;
  animation: moveBackground var(--speed) linear infinite;
}
